use std::ops::UnsafeSub;
use std::ops::UnsafeMul;

fn _mulmod(a: u256, b: u256, n: u256) -> (u256) {
    let result: u256 = asm (a, b, n) -> (r) {
        mulmod
    };
    return result;
}

fn _helper(a: u256, b: u256, c: u256, d: u256) -> (u256) {
    let remainder: u256 = _mulmod(a, b, c);
    let result: u256 = d.unsafe_mul(remainder);
    return result;
}

fn _compute(a: u256, b: u256, denominator: u256) -> (u256) {
    let mm: u256 = _mulmod(a, b, ~0);
    let prod0: u256 = a.unsafe_mul(b);
    let prod1: u256 = mm.unsafe_sub(prod0);
    let result: u256 = 0;
    if prod1 == 0 {
        if denominator == 0 {
            revert();
        }
        result = prod0 / denominator;
    } else {
        if denominator <= prod1 {
            revert();
        }
        result = _helper(a, b, denominator, prod0);
    }
    return result;
}

fn _wrapper(a: u256, b: u256, denominator: u256) -> (u256) {
    let result: u256 = _compute(a, b, denominator);
    return result;
}

contract Test {
    pub fn compute(a: u256, b: u256, denominator: u256) -> (u256) {
        return _compute(a, b, denominator);
    }

    pub fn wrapper(a: u256, b: u256, denominator: u256) -> (u256) {
        return _wrapper(a, b, denominator);
    }
}
