use std::ops::UnsafeAdd;
use std::ops::UnsafeSub;
use std::ops::UnsafeMul;

fn _mulmod(a: u256, b: u256, n: u256) -> (u256) {
    let result: u256 = asm (a, b, n) -> (r) {
        mulmod
    };
    return result;
}

fn _div_512(a: u256, b: u256, denominator: u256, prod0: u256, prod1: u256) -> (u256) {
    let remainder: u256 = _mulmod(a, b, denominator);
    let borrow2: u256 = 0;
    if remainder > prod0 {
        borrow2 = 1;
    }
    let p1: u256 = prod1.unsafe_sub(borrow2);
    let p0: u256 = prod0.unsafe_sub(remainder);
    let neg_denom: u256 = 0.unsafe_sub(denominator);
    let twos: u256 = neg_denom & denominator;
    let d: u256 = denominator / twos;
    p0 = p0 / twos;
    let twos_inv: u256 = (0.unsafe_sub(twos) / twos).unsafe_add(1);
    p0 = p0 | p1.unsafe_mul(twos_inv);
    let inv: u256 = 3.unsafe_mul(d) ^ 2;
    inv = inv.unsafe_mul(2.unsafe_sub(d.unsafe_mul(inv)));
    inv = inv.unsafe_mul(2.unsafe_sub(d.unsafe_mul(inv)));
    inv = inv.unsafe_mul(2.unsafe_sub(d.unsafe_mul(inv)));
    inv = inv.unsafe_mul(2.unsafe_sub(d.unsafe_mul(inv)));
    inv = inv.unsafe_mul(2.unsafe_sub(d.unsafe_mul(inv)));
    inv = inv.unsafe_mul(2.unsafe_sub(d.unsafe_mul(inv)));
    let result: u256 = p0.unsafe_mul(inv);
    return result;
}

fn _mul_div(a: u256, b: u256, denominator: u256) -> (u256) {
    let max_u256: u256 = ~0;
    let mm: u256 = _mulmod(a, b, max_u256);
    let prod0: u256 = a.unsafe_mul(b);
    let borrow: u256 = 0;
    if mm < prod0 {
        borrow = 1;
    }
    let prod1: u256 = mm.unsafe_sub(prod0).unsafe_sub(borrow);
    let result: u256 = 0;
    if prod1 == 0 {
        if denominator == 0 {
            revert();
        }
        result = prod0 / denominator;
    } else {
        if denominator <= prod1 {
            revert();
        }
        result = _div_512(a, b, denominator, prod0, prod1);
    }
    return result;
}

contract Test {
    pub fn mul_div(a: u256, b: u256, denominator: u256) -> (u256) {
        return _mul_div(a, b, denominator);
    }
}
